mainmenu "ST L6470 test application"

menu "Application"

choice MOTOR_DRIVER
	prompt "Motor Driver"
	help
	  Select the motor driver.

config L6470
	bool "L6470"

config L6480
	bool "L6480"

endchoice

config L64X0_INIT_PRIORITY
	int "Motor init priority"
	default 75
	help
	  Motor driver initialization priority. This must be larger
	  than config CONFIG_SPI_INIT_PRIORITY, which is 70.

endmenu

menu "Zephyr"
source "Kconfig.zephyr"
endmenu
